:root {
    /* Fonts */
    --heebo: "Heebo", sans-serif;
    --roboto: "Roboto", sans-serif;

    /* Colors */
    --infield: #efd2b2;
    --infieldT: rgba(239, 210, 178, 0.7);
    --grass: #99a962;
    --stitch: #f36a70;
    --stitchT: rgba(236, 106, 112, 0.6);
    --ball: #fbfbf9;
    --ballT: rgba(251, 251, 249, 0.8);
    --pinstripe: #253966;

    /* font scale */
    --base-size: 1.2rem;
    --scale: 1.15;
    --xl: calc(var(--h1) * var(--scale) * var(--scale));
    --lg: calc(var(--h1) * var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --small: calc(var(--base-size) / var(--scale));

    /* Theme radius */
    --radius: 5px;
}

body {
    background-image: url("jose-francisco-morales-hKzmPs8Axh8-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--roboto);
    padding: 0;
    margin: 0;
}
a,
a:visited {
    color: var(--pinstripe);
}
a:hover {
    text-decoration: none;
}

/* ------universal table styling------ */
th,
td {
    border: 1px solid var(--pinstripe);
    border-collapse: collapse;
    border-radius: var(--radius);
    font-size: var(--h6);
}
th {
    font-weight: bold;
    padding: 5px;
}
td {
    padding: 2px 5px;
}
.centerTD {
    text-align: center;
}

/* ------universal button------ */
button {
    text-transform: uppercase;
    border-radius: var(--radius);
    font-family: var(--roboto);
    padding: 7px;
}

/* ------universal dropdown------ */
select {
    text-align: center;
    font-family: var(--roboto);
    font-size: medium;
    width: 100%;
}

/* ------HEADER------ */
header {
    border-bottom: 20px double black;
}
header h1 {
    margin-left: 1rem;
    font-variant: small-caps;
    font-size: var(--h1);
}

/* ------FOOTER------ */
footer {
    border-top: 6px solid black;
    margin-bottom: 3rem;
}
footer p {
    margin-left: 1rem;
}

/* ------MAIN VIEW ZONES------ */
#contentRow1,
#contentRow2 {
    display: grid;
    grid-template-columns: 6fr 4fr;
}

#buttonFieldTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}
#manageInactiveDiv {
    display: none;
}

/* ------CONSTRAINTS BLURB------ */
.textBlob {
    background-color: var(--infieldT);
    margin-left: 1rem;
    line-height: 1.3;
    padding: 0 1rem;
    border: 2px solid var(--pinstripe);
    margin-right: 1rem;
}
.bold {
    font-weight: bolder;
}

/* ------MAIN TABLE------ */
#teamManagementTable {
    border: 2px solid var(--pinstripe);
    border-radius: var(--radius);
    background-color: var(--infieldT);
    border-collapse: collapse;
    max-width: 96%;
    margin-left: 1rem;
}
.editBtn {
    cursor: pointer;
}
.inactiveBtn {
    background-color: var(--ball);
    color: var(--stitch);
    padding: 3px;
}
.up,
.down {
    cursor: pointer;
}
.pos1Select {
    background-color: var(--grass);
    border-radius: var(--radius);
}
#noDataError {
    border: 2px solid var(--pinstripe);
    background-color: var(--infieldT);
    text-align: center;
    padding: 10px;
    width: 50%;
    margin: 25% 0 0 25%;
}
/* (not in use) */
.pos2Select,
.pos3Select {
    background-color: var(--ball);
    border-radius: var(--radius);
}

/* ------INACTIVE TABLE------ */
#inactiveTable {
    border: 2px solid var(--pinstripe);
    border-radius: var(--radius);
    background-color: var(--stitchT);
    border-collapse: collapse;
    max-width: 97%;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.activeBtn {
    background-color: var(--ball);
    padding: 3px;
}

/* ------MAIN VIEW BUTTONS------ */
#addPlayerBtn {
    margin-left: 1rem;
    justify-self: start;
    background-color: var(--pinstripe);
    color: var(--ball);
}
#defaultData {
    grid-column: 3/4;
    justify-self: end;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--pinstripe);
    color: var(--ball);
}
#generateLineupBtn {
    margin-left: 1rem;
    justify-self: start;
    background-color: var(--pinstripe);
    color: var(--ball);
}
#errorDialog {
    display: none;
    margin-left: 1rem;
    padding: 5px;
    color: red;
    font-weight: bolder;
    border: 1px solid red;
}
#generateLineupBtn:disabled {
    color: lightgrey;
    background-color: darkgrey;
}

 /* ------MODALS------ */
 .modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal h2 {
    font-size: var(--h2);
    font-variant: small-caps;
    margin-top: 0.7rem;
}
 .modal-content {
    background-color: var(--infield);
    border: 6px solid black;
    margin: 5% auto;
    padding: 20px;
    width: 40%;
    max-width: 600px;
    max-height: 90%;
}
.modal-content * {
    line-height: 1.5rem;
}
.modalButton {
    background-color: var(--pinstripe);
    color: var(--ball);
}
.close {
    color: #000;
    float: right;
    font-size: var(--h1);
    font-weight: bold;
    cursor: pointer;
}
#editModal,
#addModal {
    display: none;
}
#editSkills,
#addSkills {
    line-height: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: repeat(10, 1fr);
}
#editName,
#addName {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#editFName,
#editLName,
#addFName,
#addLName {
    max-width: 100%;
    text-align: right;
    grid-column: 2/3;
    justify-self: end;
}
#editFName,
#addFName {
    grid-row: 1/2;
    height: 1rem;
}
#editLName,
#addLName {
    grid-row: 2/3;
    height: 1rem;
}
#addPosDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
    height: 1.5rem;
}
#addPos1 {
    width: 4rem;
    max-width: 100%;
    grid-column: 2/3;
    background-color: var(--grass);
    justify-self: end;
}
#addSaveDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
}
#addSaveBtn {
    justify-self: start;
}
#addErrorText {
    grid-column: 2/3;
    justify-self: end;
    align-self: end;
}
.skillSlider {
    grid-column: 2/3;
}
.curVal {
    max-width: 3rem;
    grid-column: 3/4;
    justify-self: end;
    text-align: right;
    height: 1rem;
}
.nameLabel {
    grid-column: 1/2;
}
.skillLabel {
    grid-column: 1/2;
}
#editSaveBtn,
#deletePlayerBtn {
    margin-top: 1rem;
    padding: 3px 6px;
}
#editErrorText {
    margin-top: 1rem;
}
/* SLIDERS (only in modals) */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-moz-range-track {
    background: var(--pinstripe);
    height: 0.5rem;
    border-radius: var(--radius);
}
input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb {
    margin-top: -0.25rem;
    height: 1rem;
    width: 1rem;
    background: var(--ball);
}
.input-error {
    border: 2px solid red;
}
.error-message {
    color: red;
}